body {
  font-family: sans-serif;
}

/* hide the skip-nav link by default, making it appear only when focused */
.skip-link {
  position: fixed;
  top: -200px;
}
.skip-link:focus {
  top: 0; 
}

header {
  background-color: cornflowerblue;
  padding: 3em;
}

nav {
  padding-top: 0;
}

section {
  margin: 2em;
}

section.log-in {
  display: flex;
  align-items: center;
  
}

section.log-in h2 {
  margin-top: 10vh;
  text-align: center;
}