body {
  padding: 10px;
  font-family: sans-serif;
}

/* hide the skip-nav link by default, making it appear only when focused */
.skip-link {
  position: fixed;
  top: -200px;
}
.skip-link:focus {
  top: 0; 
}

header {
  margin: 1em;
}

section {
  margin: 2em;
}