<template name="createTask">
    <div class="row">
        <div class="add-task col-sm-12 col-md-6 col-lg-4">
            <h2>New task</h2>
            <form name="task-form">
                <input name="label" type="text" maxlength="48" placeholder="Label">
                <textarea name="description" type="text" maxlength="228" rows="3" placeholder="Short description"></textarea>
                <input name="startDate" type="date" value="{{getToday}}">
                <input name="startTime" type="time" value="{{getTime}}">
                <div>
                    <span>Duration (in hours)</span>
                    <input name="duration" type="number" min="1" max="128" value="1">
                </div>
                <button name="addTask" class="btn btn-outline-dark" disabled type="submit" value="">Add</button>
            </form>
        </div>
    </div>
</template>