<!-- templates for displaying list of and single task -->

<template name="displayTasks">
    <h2>Your tasks</h2>
    <div class="taskList">
        {{#each tasks}}
            {{> task}}
        {{/each }}
    </div>
</template>

<template name="task">
    <div class="card-container col-lg-4 col-md-6 col-sm-12">
        <article class="task-card{{#if done}} task-done{{/if}} ">
            <h3>{{label}}</h3>
            <div>
                <span>{{formatDate startDate}}</span>
                <span>{{formatTime startDate}}</span>
                <span class="duration">{{duration}}</span>
            </div>
            <div class="fill">
                <p>{{description}}</p>
            </div>
            <div>
                <div class="checkbox">
                    <label><input type="checkbox" checked="{{#if done}}checked{{/if}}" value=""> Done</label>
                </div>
                <button class="delete-task btn btn-outline-dark">remove</button>
            </div>
        </article>
    </div>
</template>