section.display-tasks .taskList {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

section.display-tasks .task-card {
    display: flex;
    flex-flow: column;
    background-color: lightgoldenrodyellow;
    align-content: space-between;
    margin: 0.5em;
    padding: 0.5em;
    height: calc(100% - 1em);
    min-height: 300px;
    box-shadow: 2px 2px 2px 2px lightgray
}

section.display-tasks .task-card.task-done {
    background-color: lightgreen;
}    


section.display-tasks .taskList {
    margin: 0.1em;
}

.task-card .duration::after {
    content: " hrs";
}

.task-card div.fill {
    flex: 2;
}

.task-card button {
    float: right;
}

.task-card p {
    padding: 0.5em;
}

